networks:
   vmangos-network:
     external: true

services:
  vmangos-database:
    container_name: vmangos-database
    build:
      context: .
      dockerfile: docker/database/Dockerfile
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD} # Set this in your .env file or environment
    restart: unless-stopped
    command: --max_allowed_packet=32505856
    ports:
      - 3306:3306
    volumes:
      - ./vol/backup:/vol/backup
      - ./vol/core-github:/vol/core-github
      - ./vol/database-github:/vol/database-github
      - ./vol/database:/var/lib/mysql
    user: "vmangos-database-user:vmangos-database-user"
    networks:
      - vmangos-network

  vmangos-realmd:
    container_name: vmangos-realmd
    build:
      context: .
      dockerfile: docker/realmd/Dockerfile
    depends_on:
      - vmangos-database
    ports:
      - 3724:3724
    restart: unless-stopped
    volumes:
      - ./vol/configuration/realmd.conf:/opt/vmangos/etc/realmd.conf:ro
      - ./vol/logs/realmd:/opt/vmangos/storage/logs
    environment:
      - TZ=${TZ}
      - WAIT_HOSTS=vmangos-database:3306
      - WAIT_TIMEOUT=120
    user: "vmangos-realmd-user:vmangos-realmd-user"
    networks:
      - vmangos-network

  vmangos-mangos:
    container_name: vmangos-mangos
    tty: true
    stdin_open: true
    build:
      context: .
      dockerfile: docker/mangos/Dockerfile
    depends_on:
      - vmangos-database
    ports:
      - 8085:8085
    restart: unless-stopped
    volumes:
      - ./vol/configuration/mangosd.conf:/opt/vmangos/etc/mangosd.conf:ro
      - ./vol/client-data-extracted/${VMANGOS_CLIENT}:/opt/vmangos/bin/${VMANGOS_CLIENT}:ro
      - ./vol/client-data-extracted/maps:/opt/vmangos/bin/maps:ro
      - ./vol/client-data-extracted/mmaps:/opt/vmangos/bin/mmaps:ro
      - ./vol/client-data-extracted/vmaps:/opt/vmangos/bin/vmaps:ro
      - ./vol/logs/mangos:/opt/vmangos/storage/logs
      - ./vol/logs/mangos/honor:/opt/vmangos/storage/honor
    environment:
      - TZ=${TZ}
      - WAIT_HOSTS=vmangos-database:3306
      - WAIT_TIMEOUT=120
    user: "vmangos-mangos-user:vmangos-mangos-user"
    networks:
      - vmangos-network
